<div ng-controller="LandingController">
  <div class="section row">
    <div class="col-sm-10 col-centered text-center">
      <div class="form-group">
        <h4>Notice a coworker do something awesome? Did they go the extra mile? Did they show kindness or fortitude through tough times?</h4>
      </div>
      <input type="button" id="noticeIt" value="Notice It!" class="btn blue-box"
        ng-click="noticeItClick()" title="Click to start noticing your coworkers." />
    </div>
  </div>
</div>