html, body {
	font: 100%/1.5em 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 15px;
}

h1, h2, h3 {
    color: #a6b779;
	font-family: 'Oswald', 'Helvetica Neue', sans-serif;
	line-height: 1.25em;
}
